//navbar.scss
// $fa-font-path: "../webfonts";
// @import "./scss/fontawesome.scss";
// @import "./scss/solid.scss";
// @import "./scss/brands.scss";

.navbar {
    background-color: lightcoral;
    height: 5em;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar--menu {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    & > a {
        height: fit-content;
        &:hover {
            background-color: white;
        }
    }
}

.table thead tr {
    text-align: center;
}

.navbar__language {
    a:not([style*="none"]) {
        text-decoration: underline;
    }
}

.anime-container {
    display: flex;
    width: 100%;
}

.anime {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    &.shadow {
        position: relative;
        background-color: darken(red, 20);
        opacity: 0.3;
    }
    &.el {
        // transform: translate(50vw,50vh);
        cursor: pointer;
        &.show {
            animation: show-center 2s linear;
            top: 50%;
            left: 50%;
            width: 500px;
            height: 300px;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes show-center {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    100% {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 300px;
        transform: translate(-50%, -50%);
    }
}
