//navbar.scss
// $fa-font-path: "../webfonts";
// @import "./scss/fontawesome.scss";
// @import "./scss/solid.scss";
// @import "./scss/brands.scss";

.navbar {
    background-color: lightcoral;
    height: 5em;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar--menu {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    & > a {
        height: fit-content;
        &:hover {
            background-color: white;
        }
    }
}

.table thead tr {
    text-align: center;
}

.navbar__language {
    a:not([style*="none"]) {
        text-decoration: underline;
    }
}
